# Исследование надежности заемщиков

## Изучение общей информации о данных

In [127]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

In [128]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [129]:
data.head(30
         )

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля
20,1,-1311.604166,36,среднее,1,женат / замужем,0,M,сотрудник,0,209552.644578,недвижимость
21,1,-253.685166,33,среднее,1,гражданский брак,1,F,сотрудник,0,131812.203909,приобретение автомобиля
22,1,-1766.644138,24,среднее,1,гражданский брак,1,F,сотрудник,0,149681.140731,на покупку подержанного автомобиля
23,0,-272.981385,21,высшее,0,гражданский брак,1,M,сотрудник,0,128265.720871,сыграть свадьбу
24,1,338551.952911,57,среднее,1,Не женат / не замужем,4,F,пенсионер,0,290547.235997,операции с коммерческой недвижимостью
25,0,363548.489348,67,среднее,1,женат / замужем,0,M,пенсионер,0,55112.757732,покупка недвижимости
26,0,NaN,41,среднее,1,женат / замужем,0,M,госслужащий,0,NaN,образование
27,0,-529.191635,28,высшее,0,женат / замужем,0,M,сотрудник,0,308848.983691,строительство собственной недвижимости
28,1,-717.274324,26,высшее,0,женат / замужем,0,F,сотрудник,0,187863.237306,строительство собственной недвижимости
29,0,NaN,63,среднее,1,Не женат / не замужем,4,F,пенсионер,0,NaN,строительство жилой недвижимости

In [130]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков 1

In [131]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

В двух столбцах `days_employed`, `total_income` есть пропущенные значения. На сумму дохода больше всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`.

In [132]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

Заменим все отрицательные значения в столбце `days_employed` положительными с помощью метода.

In [133]:
data['days_employed'] = data['days_employed'].abs()

Для каждого типа занятости выведим медианное значение трудового стажа `days_employed` в днях.

In [134]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения, сложно определить причины их появления, данный стобец не понадобится в нашем исследовании, поэтому не будем его менять.

In [135]:
data['children'].unique()#  перечень уникальных значений столбца `children`.

array([ 1,  0,  3,  2, -1,  4, 20,  5])

Удалим строки, в которых аномальные значения из датафрейма `data`.

In [136]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

In [137]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков 2

Заполним пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.

In [138]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

In [139]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

Заменим вещественный тип данных в столбце `total_income` на целочисленный.

In [140]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

In [141]:
data['education'] = data['education'].str.lower()

In [142]:
data.duplicated().sum()

71

In [143]:
data = data.drop_duplicates()

### Категоризация данных

Зададим в датафрейме `data` столбец `total_income_category` с категориями дохода:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

In [144]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [145]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

In [146]:
data['purpose'].unique() # перечень уникальных целей взятия кредита

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

Cформируем новый столбец `purpose_category`, в который войдут следующие категории:

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

In [147]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [148]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Исследуем данные

Проверим, есть ли зависимость между количеством детей и возвратом кредита в срок.

In [149]:
def pivot_count_sum_mean_debt_function(index_name ):# функция возвращает сводную таблицу с информацией о должниках с группировкой по index_name
    data_pivot = data.pivot_table(index=index_name, values='debt', aggfunc={'count', 'sum', 'mean'})# создание сводной таблицы
    data_pivot = data_pivot.rename(columns={"count":"Всего кредитополучателей", "sum": "Всего должников", "mean":"Доля должников"}) #переименование столбцов
    data_pivot = data_pivot.sort_values(by='Доля должников', ascending=False)# сортировка по убыванию доли должников
    data_pivot = data_pivot.reindex(columns=['Всего кредитополучателей', 'Всего должников', 'Доля должников']) #изменение расположения колонок
    return data_pivot

In [150]:
pivot_count_sum_mean_debt_function('children') # получение информации о должниках с группировкой по количеству детей

          Всего кредитополучателей  Всего должников  Доля должников
children
4                             41.0              4.0        0.097561
2                           2052.0            194.0        0.094542
1                           4808.0            444.0        0.092346
3                            330.0             27.0        0.081818
0                          14091.0           1063.0        0.075438
5                              9.0              0.0        0.000000

**Вывод:**

Больше всего доля людей с долгами среди родителей четырех детей. Имеется информация только о девяти людях с пятью детьми, поэтому невозможно сделать корректные выводы для этой категории.

Доля людей с долгами возрастает при увеличении количества детей от нуля до двух. Доля людей с долгами с тремя детьми меньше, чем людей с одним ребенком, но больше, чем у людей без детей.

Проверим, есть ли зависимость между семейным положением и возвратом кредита в срок.

In [151]:
pivot_count_sum_mean_debt_function('family_status')  # получение информации о должниках с группировкой по семейному положению

,Всего кредитополучателей,Всего должников,Доля должников
family_status,,,
Не женат / не замужем,2796.0,273.0,0.097639
гражданский брак,4134.0,385.0,0.093130
женат / замужем,12261.0,927.0,0.075606
в разводе,1189.0,84.0,0.070648
вдовец / вдова,951.0,63.0,0.066246

**Вывод:** 
Меньше всего доля людей с долгами среди людей, лишившихся мужа/жены. Больше всего доля людей с долгами среди не вступавших в брак. 

Среди женатых/замужних доля людей с долгами больше, чем среди людей в разводе, но меньше, чем среди людей в гражданском браке.

Проверим, существует ли зависимость между уровнем дохода и возвратом кредита в срок.

In [152]:
pivot_count_sum_mean_debt_function('total_income_category') # получение информации о должниках с группировкой по уровню дохода

,Всего кредитополучателей,Всего должников,Доля должников
total_income_category,,,
E,22.0,2.0,0.090909
C,15921.0,1353.0,0.084982
A,25.0,2.0,0.080000
B,5014.0,354.0,0.070602
D,349.0,21.0,0.060172

**Вывод:** 

Кредитополучателей категории "B" и "С" гораздо больше, чем в других категориях в предоставленной таблице.

При увеличении дохода доля должников уменьшается более чем на 1%, если рассматривать только категории "B" и "C". 
По остальным категориям четкой зависимости между уровнем дохода и долей должников обнаружить нельзя.

Выясним, влияют ли разные цели кредита влияют на его возврат в срок.

In [153]:
pivot_count_sum_mean_debt_function('purpose_category') # получение информации о должниках с группировкой по цели взятия кредита

,Всего кредитополучателей,Всего должников,Доля должников
purpose_category,,,
операции с автомобилем,4279.0,400.0,0.093480
получение образования,3988.0,369.0,0.092528
проведение свадьбы,2313.0,183.0,0.079118
операции с недвижимостью,10751.0,780.0,0.072551

**Вывод:** 

Меньше всего доля должников среди людей, берущих кредит с целью проведения операций с недвижимостью. 
Больше всего доля должников среди людей, у которых цель взятия кредита - проведение операций с автомобилем. 

Доля должников, берущих кредит для получения образования немного меньше, чем среди людей, которым нужен кредит для проведения операций с автомобилем. Доля людей с долгами, берущих кредит для проведения свадьбы примерно на 1 % больше чем среди людей, которые берут кредит для проведения операций с недвижимостью.

**Возмможные причины появления пропусков в исходных данных:**

Пропуски в данных были в полях `"total_income"`, `"days_employed"`. Возможно, при вводе данных сотрудник банка совершил ошибку или произошел сбой в системе. Также возможно часть людей в приведенных данных являются сотрудниками банка, и информация о доходе и количестве рабочих дней уже имеется в отдельной таблице, данные из которой не были перенесены в представленную таблицу.

## Общий вывод

1. Доля людей с долгами возрастает при увеличении количества детей от нуля до двух, далее эта тенденция не имеет места. В предложенных данных мало людей с пятью детьми, поэтому сложно сделать корректный вывод.
2. Меньше всего доля людей с долгами среди людей, лишившихся мужа/жены. Среди людей в браке доля должников становится больше,  но самая большая доля людей с долгами среди не вступавших в брак.
3. При увеличении дохода доля должников уменьшается более чем на 1%, если рассматривать только категории "B" и "C" (количество кредиторов в остальных категория значительно меньше). 
4. Меньше всего доля должников среди людей, берущих кредит с целью проведения операций с недвижимостью или проведения свадьбы. Больше всего доля должников среди людей, у которых цель взятия кредита - проведение операций с автомобилем или получение образования.

По предложенным данным можно составить портрет *идеального клиента*: нет детей, вдовец/вдова, категория доходов 'B', берет кредит для проведения операций с недвижимостью.

Порет *рискованного клиента*: 2 ребенка, не женат/не замужем, категория доходов 'C', берет кредит для проведения операций с автомобилем.